.slideCardOne {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.slideCardTwo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.GrouponCard {
  height: 300px;
  font-family: manrope;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WoopCard {
  height: 300px;
  font-family: manrope;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherBoxMore {
  border-radius: 20px;
  width: 60%;
  height: 90%;
  background-color: #266bd2;
  padding: 50px;
}

.otherBoxMoreTwo {
  border-radius: 20px;
  width: 60%;
  height: 90%;
  background-color: #266bd2;
  padding: 50px;
}

.otherBoxMore span {
  color: white;
  font-size: 13px;
  line-height: 30px;
}
.otherBoxMore span img:nth-child(2) {
  padding-bottom: 20px;
}
.otherBoxMore span img:nth-child(1) {
  width: 190px;
  padding-top: 30px;
  padding-left: 550px;
  position: absolute;
}
.otherBoxMore span:nth-child(3) {
  font-weight: 600;
}

.otherBoxMoreTwo span {
  color: white;
  font-size: 13px;
  line-height: 30px;
}
.otherBoxMoreTwo span img:nth-child(2) {
  padding-bottom: 5px;
  width: 210px;
}
.otherBoxMoreTwo span img:nth-child(1) {
  width: 190px;
  padding-top: 30px;
  padding-left: 550px;
  position: absolute;
}
.otherBoxMoreTwo span:nth-child(3) {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .GrouponCard {
    height: 60%;
  }

  .WoopCard {
    height: 50%;
  }

  .otherBoxMore span img:nth-child(1) {
    width: 190px;
    padding-top: 120px;
    padding-left: 770px;
    position: absolute;
  }

  .otherBoxMoreTwo span img:nth-child(1) {
    width: 190px;
    padding-top: 120px;
    padding-left: 770px;
    position: absolute;
  }
}
